@import "/documentation/Styles/general.css";

.container {
    margin-top: 6rem;
    padding: 1rem;
    position: relative;
}

.model-btn {
    padding: .5rem 1rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    position: absolute;
    top: 15%;
    left: 46%;
    transform: translate(-50% -50%);
}

.model-bar {
    visibility: hidden;
    border: 2px solid;
    width: 30rem;
    padding: 1rem;
    border-radius: 1rem;
    margin: 8rem auto;
    text-align: center;
}

.model-header {
    display: flex;
    justify-content: space-between;
}

.cancel-btn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}