@import "/documentation/Styles/general.css";

.toast-type {
    display: grid;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.toast-1 {
    display: flex;
    border: 2px solid;
    justify-content: space-around;
    justify-items: center;
    padding: .8rem 1rem;
    font-size: 1.3rem;
    background-color: var(--toast-color);
}

.vertical-line {
    font-weight: 900;
}

.x-btn {
    border: none;
    background-color: initial;
    font-size: 1.5rem;
}

.btn {
    margin-left: .5rem;
}

.click-btn {
    font-size: 1.2rem;
    padding: .5rem .8rem;
    border-radius: .5rem;
}

.demo-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: -2rem;
}

.toast {
    background-color: var(--toast-color);
    display: none;
    justify-content: space-around;
    border: 2px solid;
    padding: .8rem 1rem;
    position: absolute;
    top: -1rem;
    right: -25rem;
    width: 22rem;
    font-size: 1.3rem;
}