@import "/documentation/alert/alert.css";
@import "/documentation/avatar/avatar.css";
@import "/documentation/badge/badge.css";
@import "/documentation/button/button.css";
@import "/documentation/card/card.css";
@import "/documentation/image-comp/image.css";
@import "/documentation/input/input.css";
@import "/documentation/lists/lists.css";
@import "/documentation/model/model.css";
@import "/documentation/navigation/navigation.css";
@import "/documentation/rating-compo/rating.css";
@import "/documentation/simplified-grid/grid.css";
@import "/documentation/slider/slider.css";
@import "/documentation/text-utilities/text.css";
@import "/documentation/toast/toast.css";

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html {
    line-height: 1.5;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: 1.1rem;
}

:root {
    --primary-color: rgb(0, 0, 255);
    --blue-700: rgb(37, 37, 173);
    --blue-500: rgb(71, 71, 158);
    --blue-300: rgb(96, 96, 160);
    --white: rgb(255, 255, 255);
    --wheat-200: rgb(245, 222, 179);
    --black: rgb(0, 0, 0);
    --light-gray: rgb(211, 211, 211);
    --dark-gray: rgb(169, 169, 169);
    --secondary-color: rgb(128, 128, 128);
    /* --header: #a2d2ff; */
    --header: #a2d2ff;
    --dark-color: #90eef7;
    --danger: rgb(255, 0, 0);
    --warning: rgb(255, 255, 0);
    --success: rgb(0, 128, 0);
    --info: rgb(0, 0, 255);
    --card-bg-clr: rgb(201, 230, 240);
    --gold-900: rgb(255, 215, 0);
    --toast-color: rgb(230, 226, 226)
}

.fs-large {
    font-size: 1.9rem;
}

.fs-medium {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--black);
}

ul, ol {
    list-style: none;
}

button {
    cursor: pointer;
}

/*  Header bar  */

.nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--header);
    padding: 1.2rem 4rem;
    font-size: 1.3rem;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.header a:nth-child(1) {
    font-family: 'Stoke', serif;
    font-size: 2rem;
}

.header a:nth-child(2) {
    font-size: 1.8rem;
}

.nav a:nth-child(1) {
    font-family: 'Stoke', serif;
    font-size: 2rem;
}

.nav a:nth-child(2) {
    font-size: 1.8rem;
}

.main-container {
    display: grid;
    grid-template-columns: 16rem 1fr;
}

/*          Side bar     */

.side-bar {
    border-right: 3px solid var(--black);
    padding: 7rem 0 4rem 0;
    line-height: 3.5rem;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: auto;
}

.side-bar li {
    margin: 5px;
    font-size: 1.4rem;
}

.side-bar li a {
    display: block;
    padding: 0 2rem;
}

.side-bar-heading {
    text-align: center;
}

#side-bar-style {
    background-color: var(--header);
    border-radius: .6rem;
    font-size: 1.4rem;
}

.side-bar li:hover {
    background-color: var(--light-gray);
    border-radius: .6rem;
}

/*      Body Container */

.body-container {
    padding-top: 5.8rem;
    margin: 1.1rem .6rem;
}

.code-container{
    margin-bottom: 1rem;
}

/*              footer   */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer button {
    background-color: initial;
    border: none;
}

.footer a {
    font-size: 1.8rem;
    background-color: initial;
    border: none;
}