@import "/documentation/alert/alert.css";
@import "/documentation/avatar/avatar.css";
@import "/documentation/badge/badge.css";
@import "/documentation/button/button.css";
@import "/documentation/card/card.css";
@import "/documentation/image-comp/image.css";
@import "/documentation/input/input.css";
@import "/documentation/lists/lists.css";
@import "/documentation/model/model.css";
@import "/documentation/navigation/navigation.css";
@import "/documentation/rating-compo/rating.css";
@import "/documentation/simplified-grid/grid.css";
@import "/documentation/slider/slider.css";
@import "/documentation/text-utilities/text.css";
@import "/documentation/toast/toast.css";

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html, body {
    line-height: 2;
}

:root {
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --primary-color: rgb(0, 0, 255);
    --light-gray: rgb(211, 211, 211);
    --dark-gray: rgb(169, 169, 169);
    --secondary-color: rgb(128, 128, 128);
    --header: #a2d2ff;
    --dark-color: #90eef7;
    --danger: rgb(255, 0, 0);
    --warning: rgb(255, 255, 0);
    --success: rgb(0, 128, 0);
    --info: rgb(0, 0, 255);
    --card-bg-clr: rgb(201, 230, 240);
    --gold-900: rgb(255, 215, 0);
    --toast-color: rgb(230, 226, 226)
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul, ol {
    list-style: none;
}

button:hover {
    box-shadow: 5px 10px 5px var(--light-gray);
    cursor: pointer;
}

.nav {
    display: grid;
    grid-template-columns: 200px 1fr;
    background-color: var(--header);
    position: relative;
    padding: 1.2rem;
    font-size: 1.3rem;
    border-radius: 0 0 .9rem .9rem;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.nav-header {
    font-size: 1.7rem;
    margin-left: 1.5rem;
}

.nav-list {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    position: absolute;
    right: 1%;
    top: 1.2rem;
}

.link {
    font-size: 1.4rem;
}

/*          Side bar     */

.main-container {
    display: grid;
    grid-template-columns: 16rem 1fr;
}

.side-bar {
    text-align: center;
    border-right: 5px solid var(--black);
    padding-top: 8rem;
    line-height: 55px;
    position: sticky;
    top: 0;
    height: 119vh;

}

.side-bar-heading {
    margin-bottom: 1rem;
}

#side-bar-style {
    background-color: var(--header);
    border-radius: 25px;
    font-size: 1.4rem;
}

.side-bar li {
    margin: 5px;
    font-size: 1.2rem;
    font-weight: bolder;
}

.side-bar li:hover {
    background-color: var(--light-gray);
    border-radius: 25px;
}

.body-container {
    margin: 2.8rem 1rem 0 1rem;
    padding-top: 5rem;
}

/*              footer   */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: 7rem;
    margin-bottom: .5rem;
}

.footer-btn {
    font-size: 32px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px solid var(--black);
}

@media screen and (max-width: 580px) {
    .footer-btn {
        font-size: 20px;
    }
}