@import '/documentation/Styles/general.css';

.alert-section {
    display: grid;
    gap: 1rem;
}

.alert-section section {
    border: 2px solid;
    margin: 0 6rem;
}

.body-container h3 {
    padding-bottom: 1rem;
}

.danger {
    background-color: var(--danger);
}

.warning {
    background-color: var(--warning);
}

.success {
    background-color: var(--success);
}

.info {
    background-color: var(--info);
    color: var(--white);
    position: relative;
}

.light {
    background-color: var(--white);
    border: 2px solid;
}

.dark {
    background-color: var(--black);
    color: var(--white);
}

.alert-icon {
    width: 3rem;
    height: 2.8rem;
    margin: 0 .6rem;
    border-radius: 50%;
    position: relative;
    top: 15px;
}