@import '/documentation/Styles/general.css';

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;
}

.header {
    background-color: var(--header);
    display: flex;
    justify-content: space-between;
    padding: 1.4rem 3rem;
}

.logo {
    width: 3rem;
}

.intro-section {
    display: grid;
    grid-template-columns: 35rem 30rem;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 16%;
    text-align: center;
}

.img {
    width: 35rem;
    right: 2.5rem;
    top: 12.5rem;
    border-radius: .7rem;
}

.install-section{
    display: grid;
    grid-template-columns: 35rem 43rem;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    bottom: 14%;
    text-align: center;
}

.iframe-c{
    margin-left: 7rem;
}

.txt-heading {
    font-size: 2rem;
}

.start-btn {
    font-size: 1.5rem;
    padding: .7rem 1.2rem;
    border-radius: .7rem;
    border: none;
    background-color: var(--header);
}

.footer-bar {
    width: 100%;
    padding: .8rem;
    background-color: var(--header);
}

.primary-txt {
    text-align: center;
}

.footer-link {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.footer-link a{
    font-size: 1.8rem;
}