@import '/documentation/Styles/general.css';

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;
}

.header {
    background-color: var(--header);
    display: flex;
    justify-content: space-between;
    padding: 1.4rem 3rem;
}

.home-body-section {
    display: grid;
    justify-content: space-between;
    gap: 3rem;
}

.intro-section {
    display: grid;
    grid-template-columns: 35rem 30rem;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.img {
    width: 33rem;
    border-radius: .7rem;
}

.install-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
}

.install-para {
    width: 35rem;
    margin: auto;
}

.iframe-c {
    margin-left: 6rem;
}

.txt-heading {
    font-size: 2rem;
}

.start-btn {
    font-size: 1.5rem;
    padding: .7rem 1.2rem;
    border-radius: .7rem;
    border: none;
    background-color: var(--header);
}

.footer-bar {
    width: 100%;
    padding: .8rem;
    background-color: var(--header);
}

.primary-txt {
    text-align: center;
}

.footer-link {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.footer-link a {
    font-size: 1.8rem;
}