@import '/documentation/Styles/general.css';

.main-container{
    position: relative;
}

.sec-intro{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-content: center;
}

.intro-img{
    width: 45%;;
    height: 50vh;
    position: absolute;
    right: 40px;
    top: 210px;
    border-radius: 10px;
}

.txt-container{
    width: 50%;
    position: absolute;
    top: 310px;
    text-align: center;
}

.txt-heading{
    font-size: 45px;
}

.txt-para{
    font-size: 25px;
    font-family: 'Playfair Display', serif;
}

.btn{
    margin-top: 50px;
    font-size: 32px;
    padding: 15px 20px;
    border-radius: 10px;
    border: 3px solid var(--black);
}

.footer{
    display: grid;
    grid-template-rows: 50px 70px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:73vh;
    padding: 12px;
    background-color: var(--header);
}

.primary-txt{
    font-weight: 500;
    text-align: center;
}

.footer-link{
    font-size: 25px;
}

.footer-icon{
    width: 50px;
    height: 50px;
    margin: 10px 20px;
}