@import "/documentation/Styles/general.css";

.code-cntnr {
    margin-top: 1rem;
}

.heading-section div:nth-child(1){
    font-size: 2.8rem;
    font-weight: 550;
}

.heading-section div:nth-child(2){
    font-size: 2.5rem;
    font-weight: 550;
}

.heading-section div:nth-child(3){
    font-size: 2.1rem;
    font-weight: 550;
}

.heading-section div:nth-child(4){
    font-size: 1.8rem;
    font-weight: 550;
}

.heading-section div:nth-child(5){
    font-size: 1.5rem;
    font-weight: 550;
}

.heading-section div:nth-child(6){
    font-size: 1.3rem;
    font-weight: 550;
}

.heading-cont {
    border: 2px solid var(--dark-gray);
    margin-left: 1rem;
}

.utilities-container {
    border: 2px solid var(--dark-gray);
    text-align: center;
    margin: 0 0 2rem 1rem;
}

.txt-size-section p:nth-child(1) {
    font-size: 2rem;
}

.txt-size-section p:nth-child(2) {
    font-size: 1.5rem;
}

.txt-size-section p:nth-child(3) {
    font-size: 1.1rem;
}

.txt-size-section p:nth-child(4) {
    font-size: 1rem;
}

.gray-txt {
    color: var(--dark-gray);
}

.txt-left {
    text-align: left;
    margin-left: 1rem;
}

.txt-right {
    text-align: right;
    margin-right: 1rem;
}

.txt-uppercase {
    text-transform: uppercase;
}

.txt-lowercase {
    text-transform: lowercase;
}

.txt-capitalize {
    text-transform: capitalize;
}