@import "/documentation/Styles/general.css";

.spaced-list {
    display: grid;
    grid-gap: .5rem;
    width: 25rem;
    margin: auto;
}

.unordered-list {
    margin-left: 1.5rem;
    list-style: disc;
}

.ordered-list {
    margin-left: 1.5rem;
    list-style: decimal;
    width: fit-content;
}

.list-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spaced-list li {
    background-color: var(--card-bg-clr);
    border: 1px solid var(--primary-color);
    padding: .5rem;
    list-style: none;
}

.stacked-list {
    width: 25rem;
    margin: auto;
}

.stacked-list li {
    display: flex;
    justify-content: space-between;
    margin: 5px 1rem;
    padding: .5rem 1rem;
    list-style: none;
    border-radius: 5px;
    margin: .5rem 0;
}

.stacked-list li:nth-child(1) {
    background-color: lightcoral;
}

.stacked-list li:nth-child(2) {
    background-color: lightgreen;
}

.stacked-list li:nth-child(3) {
    background-color: skyblue;
}

.stacked-list li:nth-child(4) {
    background-color: var(--wheat-200);
}

.bg-red {
    background-color: var(--danger);
}

.bg-green {
    background-color: var(--success);
}

.bg-blue {
    background-color: rgb(101, 101, 182);
}

.bg-wheat {
    background-color: rgb(252, 165, 4);
}

.stacked-list li i {
    padding: 5px 8px;
    border-radius: 50%;
}