@import "/documentation/Styles/general.css";
/*      Card With badge */

.card-container {
    background-color: var(--card-bg-clr);
    width: 26rem;
    border: 2px solid var(--danger);
    border-radius: .7rem;
    position: relative;
    line-height:1.7rem;
    margin: auto;
    padding-right: .6rem;
}

.img {
    width: 92%;
    margin: 0.7rem 0 0 1.1rem;
    border-radius: .7rem;
}

.badge {
    width: 3rem;
    position: absolute;
    top: 2.5%;
    left: 6%;
}

.pic-title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
}

.about-nature {
    margin: 0 1.2rem;
}

/*      Card With Dismiss */

.dismiss-icon {
    position: absolute;
    font-size: 1.4rem;
    background-color: var(--white);
    padding: .2rem .4rem;
    border-radius: 50%;
    font-weight: bold;
    top: .6rem;
    right: .9rem;
}

.dismiss-icon:hover {
    background-color: var(--black);
    color: var(--white);
}

/*      Cards with text overlay     */

.text-overlay {
    color: var(--white);
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
    top: 7rem;
    left: 3rem;
}

/*      Card with Shadow  */

.card-shadow {
    box-shadow: 7px 7px 8px var(--black);
}

/*      Horizental cards      */

.horigental-card {
    display: grid;
    width: 55rem;
    height: 38vh;
    grid-template-columns: 1fr 2fr;
    padding: .4rem;
    background-color: var(--card-bg-clr);
    border: 2px solid var(--danger);
    border-radius: 1rem;
    position: relative;
    line-height: 1.9rem;
    margin: auto;
}

.horigental-card img {
    width: 100%; 
    height: 35vh;
    border-radius: .8rem;
    margin: 6px 0 0 6px;
}

.hr-crd-txt {
    overflow: auto;
}