@import "/documentation/Styles/general.css";

.code-cntnr {
    margin-top: 1rem;
}

/*      Primary Button */

.primary-btn-1 {
    font-size: 1.2rem;
    padding: .8rem 1.6rem;
    background-color: var(--primary-color);
    color: var(--white);
}

.primary-btn-2 {
    font-size: 1.2rem;
    padding: .8rem 1.6rem;
    border-radius: .6rem;
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    margin: 0 1rem;
}

.primary-btn-3 {
    font-size: 1.2rem;
    padding: .8rem 1.6rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    color: var(--white);
}

/*      Link Button */

.link-btn-1 {
    font-size: 1.2rem;
    padding: .7rem 1.8rem;
    background-color: var(--dark-gray);
    text-decoration: underline;
}

.link-btn-2 {
    font-size: 1.2rem;
    padding: .7rem 1.8rem;
    margin: 0 1rem;
    border-radius: .6rem;
    border: 3px solid var(--secondary-color);
    text-decoration: underline;
}

.link-btn-3 {
    font-size: 1.2rem;
    padding: .7rem 1.8rem;
    border-radius: 2rem;
    border: 3px solid var(--secondary-color);
    text-decoration: underline;
}

/*             Disable, Enable Button */

.disable-btn {
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    background-color: var(--danger);
    color: var(--white);
    opacity: .5;
}

.disable-btn:hover {
    cursor: not-allowed;
}

.enable-disable-btn {
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    color: var(--white);
    background-color: var(--success);
    margin: 0 1rem;
}

/*              icon btn */

.home-btn-icon {
    font-size: 2rem;
    border: none;
    background-color: var(--white);
}

.heart-btn-icon {
    margin: 0 3rem;
    font-size: 2rem;
    border: none;
    background-color: var(--white);
}

/*              Floating Button */

.float-save-btn {
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: bold;
    padding: 1rem 1.4rem;
    border-radius: 1rem;
}

.float-add-btn {
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1.8rem;
    padding: .7rem 1.2rem;
    border-radius: 50%;
    margin: 0 1rem;
}