@import "/documentation/Styles/general.css";

.slide-container {
    width: 100%;
    text-align: center;
    background-color: var(--light-gray);
    border-radius: 1rem;
    padding: 1rem;
}

.default-slider {
    width: 20%;
    cursor: pointer;
}

.slider {
    width: 60%;
    border-radius: .5rem;
    cursor: pointer;
}

.slider:hover {
    opacity: 1;
}

.code-container {
    text-align: center;
}